@color-1: #c44860;
@color-2: #4d772d;
@color-3: #5892d0;

@text-color-1: #333333;
@text-color-2: #797476;

@alert-color-success: #f52e55;
@alert-color-noti: #f4b757;
@alert-color-warning: #b4d932;
@import "./mixins.less";
.dropdown-toggle::after {
    display: none;
}

.owl-carousel {
    position: relative;
    top: 0;
    z-index: 1;
    &#slider-header {
        @media (min-width:320px) and (max-width:600px){
            img{
      
                width: 164%;
                height: 300px ;
            }
            .item-detail{
                .zoom(2.3);
                .button-gradient{
                    .zoom(1.5);
                    padding: 0.8px;
;                }
            }
            .badge-title{
                display:none;
            }
        }
    }
    &#slider-header .owl-dots {
        margin: 0px !important;
        padding: 0px;
        width: 14px;
        height: 96px;
        position: absolute;
        // left: 9.4%;
        // top: 44.5%;
        display: inline;
        @media (min-width: 320px){
            transform: rotate(-90deg);
            left: 47%;
            top: 79.5%;
            @media (min-width: 768px){
                transform: rotate(-180deg) ;
                left: 9.4%;
                top: 44.5%;
            }
        }
        

        .owl-dot {
            margin: 9px 0px;

        }
    }

    &.slider-bestsell {
        // position: relative;
        .item{
            padding: 0 15px 5px 15px;
            img{
                min-height: 325px;
            }
        }
        .owl-dots {
            position: absolute;
            left: 46%;
            @media(min-width: 600px){
                left:39%;
            }
            display: inline-block;
            @media(min-width: 320px) and (max-width:600px){
                margin-top: 0px !important;
                left: 7% !important;
            }
            margin-top: 25px !important;
            padding: 0px;
            .owl-dot {
                margin: 0px 9px;
                span {
                    margin: 0 0 0 4px;
                }
            }
        }
    }
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    box-sizing: border-box;
    border: 1px solid#f2ccc4;
    border-radius: 50%;
    width: 14px;
    height: 14px;

    span {
        width: 4px;
        height: 4px;
        margin: 0px 4px;
        background: transparent;
    }

    &.active {
        span {
            background: @color-1;
        }
    }

    &:hover {
        span {
            background: @color-1;
        }
    }
}

.navbar {
    flex-wrap: nowrap;
}
